<p style="color: green"><%= notice %></p>
<%= render @post %>
<div>
	<% unless Current.user.nil? %>
		<% if @post.user.to_i == Current.user.id %>
			<%= link_to "Edit this post", edit_post_path(@post) , class:'btn btn-success' %>
			<%= button_to "Destroy this post", post_path, method: :delete, class:'btn btn-danger' %>
		<% end %>
	<% end %>
	<hr>
	<%= link_to "Back to posts", posts_path, class:'btn btn-light' %>
</div>
